### Goal
- In this capstone project, the goal is to build a classifier that can classify the tickets by analysing text.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('input_data.xlsx')
df.head()

,Short description,Description,Caller,Assignment group
0,login issue,-verified user details.(employee# & manager na...,spxjnwir pjlcoqds,GRP_0
1,outlook,\r\n\r\nreceived from: hmjdrvpb.komuaywn@gmail...,hmjdrvpb komuaywn,GRP_0
2,cant log in to vpn,\r\n\r\nreceived from: eylqgodm.ybqkwiam@gmail...,eylqgodm ybqkwiam,GRP_0
3,unable to access hr_tool page,unable to access hr_tool page,xbkucsvz gcpydteq,GRP_0
4,skype error,skype error,owlgqjme qhcozdfx,GRP_0

In [3]:
print(df.shape)
df.info()

(8500, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8500 entries, 0 to 8499
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Short description  8492 non-null   object
 1   Description        8499 non-null   object
 2   Caller             8500 non-null   object
 3   Assignment group   8500 non-null   object
dtypes: object(4)
memory usage: 265.8+ KB

In [4]:
df.isna().sum()

Short description    8
Description          1
Caller               0
Assignment group     0
dtype: int64

In [5]:
len(df['Assignment group'].unique().tolist())

74

In [6]:
df['Assignment group'].value_counts()/df['Assignment group'].count()*100

GRP_0     46.776471
GRP_8      7.776471
GRP_24     3.400000
GRP_12     3.023529
GRP_9      2.964706
            ...
GRP_70     0.011765
GRP_35     0.011765
GRP_67     0.011765
GRP_61     0.011765
GRP_64     0.011765
Name: Assignment group, Length: 74, dtype: float64